html, body {
  height: 100%;
  width: 100%;
  margin : 0;
  font-family: "Lora";
}

.container {
  height: 100%;
  width: 100%;
  margin : 0;
  border: 10px solid lightblue;
  background-image: url("https://drexel.edu/~/media/Images/coresite/backgrounds/colored-backgrounds/blue-bg/mobile.ashx");
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px 0px 40px;
  border: 2px solid lightblue;
  height: 40px;
}

.left {
  width: 50%;
  height: 100%;
  float: left;
}

.preview {
  background-color: white;
  width: 90%;
  height: 50%;
  margin : 40px 20px 20px 40px;
}

.right {
  width: 50%;
  float: right;
}

.rightstyle{
  display: block;
  margin: 0 auto;
  width: 80%;
    line-height: 1;
    border: 10;
    border-radius: 10;
    height: 22px;
    -webkit-appearance: none;
}

.textarea{
  margin : 144px 20px 20px 40px;
  width: 80%;
  height: 40px;
  resize: none;
   border: 2px solid orange;
   border-radius: 10;
}
.label{
  color: lightblue;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 22px;
    -webkit-appearance: none;
}
